body {
    background-image: url("../back3.jpg");
    background-size: cover;
    /*background: rgb(131,125,247);*/
    /*background: radial-gradient(circle, rgba(131,125,247,1) 0%, rgba(148,187,233,1) 100%);*/
}

.bg-warning {
    background-color: #97a2c7!important;
}

.btn {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Courier New;
    font-size:20px;
    font-weight:bold;
    padding:14px 40px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-transform: uppercase;
}
.btn:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}
.btn:active {
    position:relative;
    top:1px;
}


h5{
    padding: 30px 50px;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    color: black;
    font-size: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-brand {
    color: black;
}